* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}


body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(5px);
    z-index: -1;
}

.kelompok {
    width: 400px;
    height: 400px;
    background: transparent;
    border: 2px solid rgba(225, 225, 225, 0.5);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kotak {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: rgb(223, 213, 213);
}

h2 {
    margin-bottom: 10px;
}

.kotak-nama p {
    margin-bottom: 10px; 
    border: 1px solid rgba(0, 0, 0, 0.5); 
    padding: 10px;
    backdrop-filter: blur(5px);
    color: rgb(223, 213, 213);
}

a {
    text-decoration: none;
    color: rgb(223, 213, 213);
    text-align: left;
}

